.cocktailDetailsPage{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 100px;
}
.homeBackButton{
    width: 100px;
    margin: 25px auto;
    color: green;
    font-weight: bold;
    display: block;
    padding: 5px;
}
.title{
font-size: 2rem;
}
.cocktailDetails{
 width: 800px;
 display: flex;
 gap: 20px;
 margin: 50px;
}
.cocktailImage{
    width: 320px;
   height: 320px;
}

.cocktailAllDetails{
}

.infoName p{
background: lightgreen;
padding: 10px;
}

.infoAlignment{
display: flex;
padding-top: 15px;
gap: 20px;
align-items: center;
}